# macOS
.DS_Store

# dotenv environment variables file
.env

# Dependency directories
node_modules/

# Editor config files
*.code-workspace

# Firebase
.firebase
/functions/nuxt.config.js

/public

# nuxt.js build output
.nuxt

# GitHub
.github