@use './variables.scss';

@mixin mobile {
  @media (max-width: $spacing--breakpoint--desktop - 1px) {
    @content;
  }
}

@mixin desktops {
  @media (min-width: $spacing--breakpoint--desktop) {
    @content;
  }
}

@mixin page-margin {
  margin: 0 auto;
  width: 90vw;

  @include desktops {
    width: 70vw;
    max-width: 200rem;
  }
}

@mixin background-gradient(
  $degree: 90deg,
  $color: 'blue',
  $fallback-color: transparent
) {
  background: $fallback-color;
  @if $color == 'blue' {
    // background: linear-gradient($degree, $color__blue--base 0%, #01198f 100%);
    background-color: $color--blue--base;
  }

  @if $color == 'red' {
    // background: linear-gradient(
    //   $degree,
    //   $color__red--base 0%,
    //   $color__red--light 100%
    // );
    background-color: $color--red--base;
  }

  @if $color == 'white' {
    background: linear-gradient($degree, $color__grey--light 0%, white 100%);
  }

  @if $color == 'dark-transparent' {
    background: linear-gradient($degree, black 0%, transparent 100%);
  }
}

@mixin slide-animation(
  $axis: 'horizontal',
  $direction: 'forward',
  $duration: $duration--medium
) {
  animation-timing-function: ease;
  animation-duration: $duration;
  animation-direction: $direction;

  @if $axis == 'horizontal' {
    @keyframes slide-right {
      from {
        transform: translateX(-$spacing__micro--xl);
      }

      to {
        transform: translateX(0);
      }
    }
    animation-name: slide-right;
  } @else if $axis == 'vertical' {
    @keyframes slide-down {
      from {
        opacity: 0;
        transform: translateY(-$spacing__micro--xl);
      }

      to {
        opacity: initial;
        transform: translateY(0);
      }
    }
    animation-name: slide-down;
  }
}
