// Colors
$color__red--base: #d1020b;
$color__red--lighter: #e53535;
$color__red--light: lighten($color__red--base, 20);

$color__blue--base: #001063;
$color__blue--lighter: #051986;
$color__blue--light: #4540b7;

$color__grey--light: #f7f7f7;
$color__grey--dark: #f0f0f0;

$color__lilac--dark: #9a97c7;
$color__lilac--base: #e3e2f3;
$color__lilac--lighter: #e8e7f3;

// Motion
$duration__slow: 800ms;
$duration__medium: 500ms;
$duration__fast: 200ms;

// Spacing
$spacing__micro--xs: 0.25rem;
$spacing__micro--sm: 0.5rem;
$spacing__micro--md: 1rem;
$spacing__micro--lg: 1.5rem;
$spacing__micro--xl: 2rem;

$spacing__macro--xs: 5rem;
$spacing__macro--sm: 10rem;
$spacing__macro--md: 15rem;
$spacing__macro--lg: 20rem;
$spacing__macro--xl: 30rem;
$spacing__macro--xxl: 40rem;

$spacing__breakpoint--desktop: 992px;

// Font
$font--size--md: 1.6rem;
$font--letter-spacing--wide: 2rem;
