// Global classes (error, success)
@use './variables.scss';

.invert {
  filter: invert(1) hue-rotate(180deg);
}

.invert-color:not(.prevent-invert-color) {
  color: $color__grey--light;

  & a:not(.prevent-invert-color) {
    color: $color__grey--light;
  }

  & blockquote:not(.prevent-invert-color) {
    &::before {
      color: $color__grey--light;
    }
  }

  & button:not(.prevent-invert-color) {
    background-color: $color__grey--dark;
    color: $color__blue--base;

    &:hover {
      cursor: pointer;
      background-color: white;
    }

    &:active {
      background-color: $color__lilac--base;
    }
  }

  & input:not(.prevent-invert-color) {
    background-color: $color__blue--lighter;
    color: $color__grey--light;

    &:hover {
      background-color: $color__blue--light;
    }

    &:focus {
      background-color: $color__blue--light;
    }
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
