@use './variables.scss';

@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin tablets {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin desktops {
  @media (min-width: 992px) {
    @content;
  }
}
@mixin large-desktops {
  @media (min-width: 1500px) {
    @content;
  }
}

@mixin page-margin {
  margin: 0 auto;
  width: 90vw;

  @include desktops {
    width: 70vw;
    max-width: 200rem;
  }
}

@mixin reset-page-margin {
  margin: initial;
  width: initial;

  @include desktops {
    width: initial;
    max-width: initial;
  }
}

@mixin fill-screen-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

@mixin background-gradient($color: 'blue', $fallback-color: transparent) {
  background: $fallback-color;
  @if $color == 'blue' {
    background: linear-gradient(90deg, $color--blue--base 0%, #001aa3 100%);
  }

  @if $color == 'red' {
    background: linear-gradient(
      90deg,
      $color--red--base 0%,
      $color--red--light 100%
    );
  }

  @if $color == 'white' {
    background: linear-gradient(90deg, $color--grey--light 0%, white 100%);
  }

  @if $color == 'dark-transparent' {
    background: linear-gradient(90deg, black 0%, transparent 100%);
  }
}
